<!doctype html>
<html>
<head>
  <title>Lumber-Room</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">  

  <script src="../platform/platform.js"></script>
  
  <link href="../core-icons/core-icons.html" rel="import">
  <link href="../core-icons/social-icons.html" rel="import">
  <link href="../paper-item/paper-item.html" rel="import">

  <link rel="stylesheet" href="g2-pages.css">
</head>
<body unresolved>
  <div id="worksPanel" class="hover-effect hover2" vertical layout>
    <h3>My Works</h3>
    <paper-item icon="folder-shared" label="RecoTw">
      <a href="http://recotw.black" target="_blank"></a>
    </paper-item>
    <p>This service to share the black history Tweets.</p>
    <paper-item icon="social:pages" label="G2's Forest">
      <a href="http://p1.mohyo.net/" target="_blank"></a>
    </paper-item>
    <p>My old portfolio. (three.js + CSS3DRenderer)</p>
    <paper-item icon="social:post-github" label="Others">
      <a href="https://github.com/0V" target="_blank"></a>
    </paper-item>
    <p>My Github repositories.</p>
  </div>
</body>


</html>
